{% extends "layout.html" %}

{% block content %}

<div class="banner">
      <div class="banner-inner">
	<div class="banner-item">
	<img src="https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/295391_450792871641872_34248764_n.jpg" alt="">
	<div class="container">
	  <div class="banner-caption">
	    <h1>Reach out!</h1>
	    <p class="lead">If you have any unanswered questions or just want some more information, don't hesitate to contact us.</p>
	  </div>
	</div>
	</div>
      </div>
    </div>

 	<div class="content-container">
    	<div class="top-header">
			<h1>Contact</h1>
			<hr class="top-divide">
			<p>
				<ul>
				<li><strong>Email</strong>: <a href="mailto:stanfordroboclub@gmail.com">stanfordroboclub@gmail.com</a></li>
				<li><strong>Facebook</strong>: <a href="https://www.facebook.com/stanfordrobotics">/stanfordrobotics</a>
				<br></li>
				<li><strong>Twitter</strong>: <a href="https://twitter.com/stanfordrobotx">@stanfordrobotx</a></li>
			</ul>
			</p>
      	</div>

     <div>

{% endblock %}