{% extends "layout.html" %}

{% block content %}

<div class="banner">
      <div class="banner-inner">
	<div class="banner-item">
	<img src="https://scontent-b-mia.xx.fbcdn.net/hphotos-ash3/551478_480785388642620_1948493124_n.jpg" alt="">
	<div class="container">
	  <div class="banner-caption">
	    <h1>Outreach</h1>
	    <p class="lead">Under Construction</p>
	  </div>
	</div>
	</div>
      </div>
    </div>

    <div class="content-container">
      <div class="top-header">
	<h1>Outreach</h1>
	<hr class="top-divide">
	<p></p>
    </div>

    <hr class="section-divide first-divide">

  <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">Public Events</h1>
	<ul class="membership-list">
	  <li>FIRST LEGO League Competition</li>
	  <li>Annual Robotics Hacakathon</li>
	  <li>Robot Block Party</li>
	  <li>TEDxStanford</li>
	  <li>Student Tech Talks</li>
	  <li>Maker Faire</li>
	</ul>
      </div>

      <hr class="section-divide">

        <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-ash3/58257_449780825076410_2092163230_n.jpg">
	<h1 class="section-heading">Stanford Exclusive Events</h1>
		<ul class="membership-list">
	  <li>Corporate Sponsor Tech Talks</li>
	  <li>Student Activities Fair</li>
	  <li>Stanford Engineering Day</li>
	  <li>RoboClub Quarterly Kickoffs</li>
	  <li>RoboClub Quarterly Touchdowns</li>
	  <li>RoboClub Open Houses </li>
	</ul>
      </div>

    </div>

{% endblock %}