{% extends "layout.html" %}

{% block content %}

<div class="banner">
      <div class="banner-inner">
	<div class="banner-item">
	<img src="https://scontent-b-mia.xx.fbcdn.net/hphotos-prn1/64962_449308315123661_944397850_n.jpg" alt="">
	<div class="container">
	  <div class="banner-caption">
	    <h1>Team Efforts</h1>
	    <p class="lead">Stanford Robotics Club members are involved in many thrilling and cutting-edge projects, which any member can apply to launch.</p>
	  </div>
	</div>
	</div>
      </div>
    </div>

    <div class="content-container">
      <div class="top-header">
	<h1>Projects</h1>
	<hr class="top-divide">
	<p>Feats of engineering and ingenuity accomplished by members of the club.</p>
      </div>

     <hr class="section-divide first-divide">

     <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">ArtBot</h1>
	<p class="section-content right">
		A spray painting robot 
		<br>
		Project Leader: Dylan Moore
		<br>
	</p>
      </div>

      <hr class="section-divide">

      <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">Electric ArduinoKart</h1>
	<p class="section-content right">
		Building an electric GoKart controlled by iPhone (or Wiimote or Leap Motion)
		<br>
		Project Leader: Michelle Lee
	</p>
      </div>

       <hr class="section-divide">

      <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">Lunabotics</h1>
	<p class="section-content right">
		Designing, fabricating, and competing with a robot that can autonomously mine in lunar conditions
		<br>
		Project Leader: Robert Jackson
	</p>
      </div>

       <hr class="section-divide">

     <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">NanoQuad</h1>
	<p class="section-content right">
		A low-cost quadcopter meant to provide students with an affordable development platform
		<br>
		Project Leader: Ned Danyliw
	</p>
      </div>

       <hr class="section-divide">

      <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">RC72</h1>
	<p class="section-content right">
		The first fully autonomous hydrofoil wing sail catamaran
		<br>
		Project Leader: Wyatt Smith 
	</p>
      </div>

       <hr class="section-divide">

      <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">Robocup SSL</h1>
	<p class="section-content right">
		Building a team of autonomous soccer-playing robots
		<br>
		Project Leader: Ben Johnson 
	</p>
      </div>

       <hr class="section-divide">

      <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">STAN</h1>
	<p class="section-content right">
		Designing intelligent lab spaces
		<br>
		Project Leader: Galina Meyer
	</p>
      </div>

       <hr class="section-divide">

      <div class="section">
	<img class="section-image pull-left" src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/483553_479510362103456_1348654618_n.jpg">
	<h1 class="section-heading">Stanley Jr.</h1>
	<p class="section-content right">
		Building a small autonomous vehicle
		<br>
		Project Leader: Jack Zhu
	</p>
      </div>

  </div>

{% endblock %}