{% extends "layout.html" %}

{% block content %}

<div class="banner">
      <div class="banner-inner">
	<div class="banner-item">
	<img src="https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/528925_449308375123655_227967250_n.jpg" alt="">
	<div class="container">
	  <div class="banner-caption">
	    <h1>Sponsors</h1>
	  </div>
	</div>
	</div>
      </div>
    </div>

    <div class="content-container">
      <div class="top-header">
	<h1>Our Sponsors</h1>
	<hr class="top-divide">
	<p>
		The Robotics Club is proud to recognize our sponsors, without whom we would not be able to build cool stuff. With over 50 members, our club is rapidly expanding. This growth has been made possible by the generous donations and support of many companies and organizations. We would like to express our appreciation and thanks to: 
		<br>
		<strong>
		<br> The Stanford Computer Science Department
		<br> The Stanford Mechanical Engineering Department
		<br> The Stanford Electrical Engineering Department
		<br> The Stanford School of Engineering 
		<br> ASSU Senate 
		<br> Willow Garage
		<br> Align Technology Inc.
		<br> SRI International 
		<br> Oracle
		<br> Lockheed Martin 
	</strong>
	</p>
      </div>

      <hr class="section-divide first-divide">

      <div class="section">
      	<h1 class="section-heading">Become a Sponsor</h1>
      	<p class="section-content">
      		Dear Prospective Sponsor, <br> <br>
      		This year offers a unique opportunity as a prospective sponsor. Sponsors donating $10,000 or more will automatically be awarded the title of “Founding Sponsors” and will always have its logo and company featured on our “About Us” page under “Founding Sponsors.” Sponsors receive additional beneﬁts based on the value of the donation. For detailed Sponsorship beneﬁts, please see our <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fp0xmkqcy5lbibmg%2FStanford%2520RoboClub_Sponsorship_12-13.pdf&sa=D&sntz=1&usg=AFQjCNFToJvl0E8lRvQajt7AhSxOuTm7zg">SPONSORSHIP PACKET</a>.
      		<br> <br>
      		All of our sponsors receive the following general benefits:
      		<ul>
      			<li>Access to a recruiting pool of Stanford engineers and entrepreneurs</li>
      			<li>Opportunities for collaborating with the world's leading research university</li>
      			<li>R&amp;D test platform</li>
      			<li>High visibility national and international exposure</li>
      			<li>Contributions are tax deductible</li>
      		</ul>
      		<br>
      		If you are interested in becoming a sponsor, we would love to hear from you! Please email <a href="mailto:stanfordroboclub@gmail.com">stanfordroboclub@gmail.com</a>.
      		<br>
      		Thank you, <br>
      		The Stanford Robotics Club 
      	</p>
      </div>

  </div>

{% endblock %}